*{
    margin: 0;
    padding: 0;
}body{
    background: #E5E5E5;
}.welcome{
    text-align: center;
    font-family: Roboto;
    font-size: 3em;
    font-weight: 900;
    line-height: 35px;
    margin: 2.5em;
}.who{
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 2em;
}u{
    text-decoration: underline;
}p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 21px;
    text-align: left;
    margin: 2em;
    font-family: sans-serif;
    line-height: 1.1em;
}
.showcase{
    display: flex;
    width: 70%;
    margin: auto;
    height: 100vh;
}.left{
    flex: 1;
    text-align: right;
}.right{
    flex: 2;
}.contact_card{
    width: 50%;
    height: 80%;
    margin: auto;
    background: #FFFFFF;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 7px 0px 5px -3px rgba(47,47,47,0.5), 0px 8px 7px -3px rgba(47,47,47,0.5), -7px 0px 5px -3px rgba(47,47,47,0.5);
}.contact{
    height: 100vh;
}input, textarea{
    width: 100%;
    line-height: 2.7em;
    margin-top: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
    border: black 1.2px solid;
    padding-left: 1em;
}form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em;
    width: 70%;
}.contactus{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 3em;
    padding-left: 3em;
}label{
    font-family: sans-serif;
    font-weight: lighter;
}button{
    width: 35%;
    font-size: medium;
    border-radius: 5px;
    padding: .3em;
    color: white;
    font-weight: bold;
    background-color: #004DE6C2;
    border: 0;
    align-self: flex-end;
    margin: 2em;
}